body {
  margin:0;
}

#fondo{
  position:absolute;
  display:block;
  width:100%;
  height:100%;
}

#container {
  position:absolute;
  z-index:1;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

i {
  padding-right:10px;
  padding-top:20px;
  color:black;
  text-align: center;
}

#social {
  --margin-top:-12px;
  --padding-right: 10px;
  text-align:center;
  font-size:125%;
}

.link, a.link:visited {
  color: black;
  text-decoration: underline;
}

#name {
  font-family: 'Permanent Marker', cursive;
  font-size:400%;
  margin:0px;
  text-align:center;
  padding:0px;
  margin-bottom: -30px;
  letter-spacing: 5px;
  line-height: 80px;
  padding-bottom: 40px;
}
